body {
	margin:0;
}
.vetur {
	display:none;
}
.vetur h1 {
	font-size: 5em;
	color: #ffa;
}
.haust {
	display: none;
}
.vor {
	display: none;
}
.sumar {
	background: linear-gradient(to bottom left, black, white);
	width: 100%;
	height: 58em;
  	margin: 0;
  	padding: 0;
  
	display: flex; 
	justify-content: center;
	align-items: center;
	align-content: center;
}

